@font-face {
    font-family: "Century Gothic";
    src: url("/resources/fonts/Century Gothic.ttf");
}

div {
    font-family: "Century Gothic" !important;
}

body {
    background-color: #222222;
    margin: 0
}

body header {
    background-color: rgba(34, 76, 131, 0.5);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    position: fixed;
    width: 100%;
    height: 104px;
    padding: 0 30px;
    z-index: 10
}

body header nav {
    height: 100%;
    width: auto
}

body header nav .logo {
    font-family: 'Century Gothic' !important;
    float: left;
    margin-top: 10px
}

body header nav .logo img {
    height: 80px;
    position: absolute
}

body header nav .logo h1 {
    left: 120px;
    position: absolute;
    top: 15px;
    color: #fff
}

body header nav .nav-links {
    font-family: 'Century Gothic' !important;
    float: right
}

body header nav .nav-links .btn-base {
    background-color: rgba(35, 77, 141, 0.5);
    border: solid 2px #6c83a2;
    position: relative;
    height: 100px;
    width: 140px;
    right: 70px;
    float: left;
    justify-content: center;
    transform: skew(-24deg, 0deg);
    transition: ease-in-out 0.5s
}

body header nav .nav-links .btn-base:hover {
    background-color: rgba(35, 141, 70, 0.5);
    border-color: #ffa100
}

body header nav .nav-links .btn-base:hover p {
    color: #fff
}

body header nav .nav-links .btn-base p {
    position: absolute;
    font-weight: bold;
    font-family: "Century Gothic" !important;
    color: #e2e2e2;
    text-decoration: none;
    top: 20px;
    left: 38px;
    transform: skew(24deg, 0deg)
}

body .game-bg {
    position: absolute;
    width: 100%;
    height: 45rem;
    background-image: url(d8924f1d6545a5c395a1.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px)
}

body .game-logo {
    width: 100%;
    height: 45rem
}

body .game-logo img {
    width: 35%;
    height: 40%;
    -o-object-fit: cover;
    object-fit: cover;
    left: 35%;
    top: 15rem;
    position: relative;
    transform: perspective(1750px) translate3d(0px, 0px, -250px) rotateX(27deg) scale(0.95, 0.95);
    transition: 0.6s ease-in-out transform
}

body .game-logo img:hover {
    transform: translate3d(0px, 0px, -250px)
}

body .game-info {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 130px;
    background-color: rgba(34, 76, 131, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-top: 1px solid #6c83a2;
    border-bottom: 1px solid #6c83a2
}

body .game-info h1 {
    position: relative;
    font-family: 'Century Gothic' !important;
    top: 20px
}

body .game-explain {
    background-color: rgba(34, 76, 131, 0.5);
    position: relative;
    margin: 5rem;
    top: 115px;
    width: 90%;
    height: 500px;
    border: 1px solid #6c83a2
}

body .game-explain .game-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 97%;
    height: 100%
}

body .game-explain .game-container .yt-trailer {
    float: left;
    width: 50%;
    padding: 20px
}

body .game-explain .game-container .game-desc {
    float: right;
    width: 100%;
    height: 400px;
    background-color: chocolate
}

body .game-desc {
    font-family: 'Century Gothic' !important;
}